.profile__info {
  display: grid;
  grid-column-gap: 18px;
  grid-row-gap: 8px;
  box-sizing: border-box;
  grid-template-columns: auto auto;
  justify-content: start;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

@media screen and (max-width: 425px) {
  .profile__info{
    margin-bottom: 33px;
    grid-column-gap: 10px;
    grid-row-gap: 9px;
  }
}
