.element__info {
  background-color: #fff;
  padding: 25px 15px 31px 21px;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  grid-template-columns: auto 22px;
  grid-column-gap: 10px;
}
